header {
  background-color: yellow;
}
header,
footer {
  text-align: center;
  height: 80px;
}
.aside1 {
  background-color: red;
  min-height: 150px;
}
.aside2 {
  background-color: royalblue;
  min-height: 150px;
}

footer {
  background-color: seagreen;
}
